

#data {
	position: relative;
	height: 100px;
	-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
	-o-box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
	box-shadow: 0 0 10px 5px rgba(0,0,0,.2);

	font-family: Georgia;
	color: #444;
	font-size: 14pt;
	padding: 4px 8px;
	background: url(../img/nestoria.png) 99% 93% no-repeat;
}


td {
	width: 175px;
	height: 35px;
	font-size: 0.9em;
	text-align: center;
}


table {
	color: #444;
}


span.unit {
	font-size: 0.75em;
	opacity: .9;
}



#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0,0,0,.25);
    display: none;
}


#lightbox p {
    width: 500px;
    height: 250px;
    margin: 100px auto 0;
    background-color: #eee;
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
    box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
    border-radius: 8px;
    overflow: auto;
    padding: 8px;    
    text-align: center;
}

#lightbox p img {
    float: left;
    margin: 4px;
    max-width: 100%;
    max-height: 100%;
}
